<h1>Pages#doors_and_windows</h1>

<hr>

<h1 class="display-4">Doors</h1>
<hr>


<!-- <div class="border-solid border-6">
  <p>Click the "Try it" button to toggle between hiding and showing the DIV element:</p>

  <button onclick="myFunction()">Try it</button>

  <div id="myDIV" class="border-solid">
    <h1>Showing</h1>
  </div>

  <p><b>Note:</b> The element will not take up any space when the display property set to "none".</p>
</div> -->

<div>
  <span>

    <span>
      <img src="https://impactglass.net/wp-content/uploads/2019/05/iconos-puertas_0001_Capa-4.png" alt="">

      <p id="door-1" class="display-4" style="font-size:150%;">Pivot Door</p>

    </span>

    <span>
      <img src="https://impactglass.net/wp-content/uploads/2019/05/iconos-puertas_0000_Capa-5.png" alt="">
      <p  id="door-2" class="display-4" style="font-size:150%;">Bi-Fold Door</p>
    </span>

    <span>
      <img src="https://impactglass.net/wp-content/uploads/2019/05/iconos-puertas_0004_Capa-1.png" alt="">
      <p  id="door-3" class="display-4" style="font-size:150%;">French Door</p>
    </span>

    <span>
      <img src="https://impactglass.net/wp-content/uploads/2019/07/iconos-puertas_0003_Capa-211.png" alt="">
      <p  id="door-4" class="display-4" style="font-size:150%;">Sliding Glass Door</p>
    </span>

    <span>
      <img src="https://impactglass.net/wp-content/euploads/2019/06/iconos-ventanas-nuevos_0001_Capa-31.png" alt="">
      <p   id="door-5" class="display-4" style="font-size:150%;"> Casement Window</p>
    </span>

    <span>
      <img src="https://impactglass.net/wp-content/uploads/2019/07/iconos-puertas_0003_Capa-21.png" alt="">
      <p  id="door-6" class="display-4" style="font-size:150%;"> Horizontal sliding Window</p>
    </span>

    <span>
      <img src="https://impactglass.net/wp-content/uploads/2019/05/iconos-ventanas-nuevos_0001_Capa-3.png" alt="">
      <p   id="door-7" class="display-4" style="font-size:150%;">Single Hung</p>
    </span>

    <span>
      <img src="https://impactglass.net/wp-content/uploads/2019/05/iconos-ventanas-nuevos_0000_Capa-4.png" alt="">
      <p  id="door-8" class="display-4" style="font-size:150%;">Fixed Window</p>
    </span>


  </span>
</div>

<script>


// function myFunction() {
//   var x = document.getElementById("myDIV");
//   if (x.style.display === "block") {
//     x.style.display = "none";
//   } else {
//     x.style.display = "none";
//   }
// }


  // for (let step = 0; step < 5; step++) {
  //   // Runs 5 times, with values of step 0 through 4.
  //   alert(`Step number ${step}`);
  // }


    // var i;
    // for (i = 0; i < 8; i++) {
    //   }

  // var x = document.getElementById("myDIV");
  //   if (x.style.display === "none") {
  //     x.style.display = "block";
  //   } else {
  //     x.style.display = "none";
  //   }
  // }




</script>
