<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<hr>

<h1>Windows</h1>
<h2>Why do People Replace Windows?</h2>
<p>Efficency, old, saftey reasons(safety for family), home value(add equity), beauty.</p>

<h1>Companies:</h1>

<h1> Low E glass = Tinted glass </h1>

Barrel, archetechtual, flat
