<h1>Pages#Test</h1>
<hr>

<h2> Client Attributes: </h2>
<p> Lead Status- Cold, Warm, Hot</p>
<p>Lead Source</p>
<p>Project Address</p>
<p>Phone number</p>
<p>Email</p>
<p>Type of Project</p>
<p>Contractor For Project</p>
<p>Method of Payment</p>

<hr>

<h2> Appointment: </h2>
<p>Time of Appointment</p>
<p>Appointment Status</p>
<p>First Appointment time/date</p>
<p>last check-in (last time there)</p>
<p>On Site Technition</p>

<hr>

<h2> Company: </h2>
<p> Company Title ex) AA Glass/Care Construction/Custom/FHI- Florida Homeowner Improvement </p>
<p>Job Type</p>
<p>Company Phone</p>
<p>Company Email</p>
<p>Company address</p>
<p> Employee </p>
<p> Employee Title </p>
<p>Employee Phone Number</p>
<p>Employee Email</p>

<hr>

<h2>Automate Emails</h2>

<hr>

<h2>Contract:</h2>
<p>Company </p>
<p>Client (First/Last Name, Address, Phone Number)</p>
<p>Breakdown</p>
<p>Price</p>

<h2>Calculator:</h2>
<p>  Seperate calc page </p>
<p>calc can be general or belong to client</p>

<hr>

<h2>Reminders:</h2>
<p>  </p>

<hr>
